.row.pdp-customizable-form-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pdp-customizable-form-section .pdp-customizable-form-section-title {
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif !important;
    font-size: 16.9px;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 25.2px;
    max-width: 45%;
    margin-bottom: 60px;
}

.pdp-customizable-form-container {
    max-width: 78.35%;
}

.form-text-with-input-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 30px;
}

.form-text-with-input-container label {
    color: #000;
    font-family: Montserrat, sans-serif !important;
    font-size: 16.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.4px;
    max-width: 90%;
}

.options-container label {
    color: #172026;
    font-family: Montserrat, sans-serif !important;
    font-size: 15.4px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
    width: 33.33%;
    cursor: pointer;
}

.form-text-with-input-container input {
    margin-bottom: 0;
}

.form-text-with-input-container input::placeholder {
    color: #757575;
    font-family: Montserrat, sans-serif !important;
    font-size: 13.1px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.options-container {
    display: flex;
    row-gap: 14px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 26px;
}

.options-container label input {
    margin-right: 9px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.pdp-customizable-form-container button {
    padding: 13.5px 69px;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    text-align: center;
    font-family: Montserrat, sans-serif !important;
    font-size: 15.3px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 156.863% */
}

@media screen and (max-width: 767px) {
    .row.pdp-customizable-form-section {
        padding-left: 12px;
        padding-right: 12px;
    }

    .pdp-customizable-form-section .pdp-customizable-form-section-title {
        font-size: 13px;
        max-width: 100%;
        margin-bottom: 35px;
    }

    .form-text-with-input-container {
        margin-bottom: 24px;
    }

    .form-text-with-input-container label {
        font-size: 16px;
        max-width: 100%;
    }

    .form-text-with-input-container input::placeholder {
        font-size: 12px;
    }

    .options-container {
        max-height: 115px;
        overflow-y: scroll;
        scrollbar-width: thin;
    }

    .options-container label {
        width: 100%;
    }

    .pdp-customizable-form-container {
        max-width: 100%;
    }
}