/* Custom swatches css effects */

.product-form {
    position: relative;
    z-index: 1;
}

.variations .product-form__input--color input[type="radio"]+label {
    border-radius: 0;
    z-index: 1;
}

.variations .product-form__input--color input[type="radio"]+label:after {
    border-radius: 0;
}

.variations .product-form__input--color input[type="radio"]:checked+label {
    border-radius: 4px;
    z-index: unset;
}

.thb-product-detail .product--text.style_vendor {
    position: relative;
    z-index: 1;
}

.accordion {
    position: relative;
    z-index: 1;
}

.swatch-and-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.swatch-name {
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90px;
}

.product-information a.text-button[title="Enquire now"].is-hovered-state {
    position: relative;
    z-index: -1;
}

variant-selects .variations .product-form__input--color input[type="radio"]+label {
    width: 70px !important;
    height: 70px !important;
}

@media screen and (max-width: 767px) {
    .swatch-and-name-container {
        gap: 2px;
    }

    .swatch-name {
        font-size: 10px;
        max-width: 50px;
    }

    .swatch-hover-preview {
        display: none;
    }

    variant-selects .variations .product-form__input--color input[type="radio"]+label {
        width: 46px !important;
        height: 46px !important;
    }
}

/* Swatch label wrapper */
.swatch-label {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* Hidden preview image */
.swatch-hover-preview {
    position: absolute;
    top: 60%;
    margin-top: 8px;
    width: 160px;
    height: 160px;
    background-image: var(--option-color-image);
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    border: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

/* Show preview on hover */
.swatch-label:hover .swatch-hover-preview {
    opacity: 1;
    width: 160px;
    min-height: 160px;
    visibility: visible;
    position: relative;
}

.swatch-and-name-container {
    position: relative;
    /* required for z-index */
}

.variations,
.product-form__input--color {
    overflow: visible !important;
}